#search-radios a,
#search-radios-result a {
  position: relative;
  top: 1px;
}

#search-radios input[type='radio'],
#search-radios-result input[type='radio'] {
  height: 16px;
  width: 16px;
}

#search-radios input[type=radio]+label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  margin: 0 10px 5px 0;
  background-color: #e5e5e5;
}

#search-radios input[type=radio]+label::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #fff;
}

#search-radios input[type=radio]+label {
  display: block;
  padding: 0 0 1px 26px;
  position: relative;
}

#search-radios .form-item {
  margin: 3px 0 6px 0;
}

#search-radios input[type=radio]:checked+label::after {
  background-color: #4d898e;
}

.search-radios-inline .form-radios .form-item  {
  bottom: 0;
  left: 0;
  padding-right: 15px;
}

.search-radios-inline .form-radios .form-item label {
  display: inline;
}

.search-radios-inline .form-radios .form-item label a{
  color: white;
}

#search-radios.search-radios-inline .form-radios .form-item  {
  display: inline;
}

#search-radios.search-radios-basic .form-radios .form-item {
  display: block;
}

@media all and (min-width: 960px) {
  #search-radios.search-radios-inline {
    left: initial;
    bottom: initial;
    position: absolute;
    padding-top: 10px;
  }

   #search-radios.search-radios-basic {
    right: 160px;
    position: absolute;
    top: 0;
  }

  #search-radios.search-radios-concurent {
    right: 275px;
    position: absolute;
    top: 0;
  }

  #search-radios-result {
    right: 160px;
    position: absolute;
    top: -4px;
  }
}

@media all and (max-width: 480px) {
  #search-radios .form-item,
  #search-radios-result .form-item {
    float: left;
    margin: 0 4px 0 0;
    width: auto;
  }
}

@media all and (max-width: 768px) {
  #search-radios {
    margin-top: 15px;
    overflow: hidden;
    height: 0;
  }

  #search-radios .form-item,
  #search-radios-result .form-item {
    float: left;
    margin: 0 12px 0 0;
    width: auto;
  }
}
