#search-radios a,
#search-radios-result a {
  position: relative;
  top: 1px;
}

#search-radios input[type='radio'],
#search-radios-result input[type='radio'] {
  height: 16px;
  width: 16px;
}

.page-search #search-radios-result {
  display: none;
}

@media all and (min-width: 960px) {
  #search-radios {
    left: 750px;
    position: absolute;
    top: 26px;
  }

  #search-block-form .search-radios-inline {
    left: 0;
    bottom: 0;
    height: 25px;
    margin-top: 75px;
  }

  #search-radios-result {
    left: 560px;
    position: absolute;
    top: -4px;
  }
}

@media all and (max-width: 480px) {
  #search-radios .form-item,
  #search-radios-result .form-item {
    float: left;
    margin: 0 4px 0 0;
    width: auto;
  }
}

@media all and (max-width: 768px) {
  #search-radios {
    margin-top: 15px;
    overflow: hidden;
  }

  #search-radios .form-item,
  #search-radios-result .form-item {
    float: left;
    margin: 0 12px 0 0;
    width: auto;
  }
}

.search-radios-inline .form-radios .form-item  {
  display: inline;
  bottom: 0;
  left: 0;
  padding-right: 15px;
}

.search-radios-inline .form-radios .form-item label {
  display: inline;
}

.search-radios-inline .form-radios .form-item label a{
  color: white;
}
